@import url(./root.css);

/* Estilos gerais do popup */
.popup--box, .selecao--icones--popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--verde--vidro);
    z-index: 1000;
    display: none;
    width: 700px;
    max-width: 100%;
}

/* Conteúdo dos popups */
.popup--conteudo, .icon--popup--conteudo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens horizontalmente */
    justify-content: center; /* Centraliza os itens verticalmente */
    gap: 20px;
    font-family: var(--fonte-principal);
}

/* Estilo do botão de fechar */
.fecha--btn, .icon-fecha-btn {
    font-size: 24px;
    color: var(--fonte-cards);
    cursor: pointer;
    align-self: flex-end;
}

.fecha--btn:hover, .icon-fecha-btn:hover {
    color: var(--cor--destaque-verde);
}

/* Título do popup */
h2, h3 {
    color: var(--cor-secundaria);
    text-align: center;
    font-weight: 600;
}

/* Estilo da grade de ícones */
.icone--grade {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    justify-items: center;
}

.icon {
    background-color: var(--background--icon);
    border-radius: 10px;
    padding: 15px;
    color: var(--fonte-branco-100);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.icon:hover {
    background-color: var(--hover);
}

/* Estilo dos inputs e botões */
input, select, button {
    padding: 10px;
    border: 1px solid var(--verde--datas);
    border-radius: 5px;
    font-family: var(--fonte-principal);
    background-color: var(--background--cards);
    color: var(--fonte-cards);
}

button {
    background-color: var(--cor--destaque-verde);
    color: var(--fonte-branco-100);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--hover);
}

/* Estilo do form */
.form--grupo--tipo, .form--grupo--nome {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.grupo--input {
    display: flex;
    gap: 5px;
    align-items: center;
}

#selecao--icone--container {
    margin-top: 10px;
    background-color: var(--verde--vidro);
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao--componente {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* Centralização da seleção de ícones */
.selecao--icones--popup {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    flex-direction: column;
}

.icon--popup--conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    gap: 20px;
}
